body {font-family: Courier New;background-color: #eda6e6;
}
h1 {color: #852c77;text-align: center; font-family: Lucida Console
}
p {line-height: 1.6;color: #080707;
}
#introducingme{
align-content: center;font-family: Monaco;
}
#skills{
color:#a31f96; font-family: Monaco;
}
#certifications{
align-content: center; font-family: Monaco;
}
#funparagraph{
color:#a31f96; font-family: Monaco;
}
.article-with-border{
border: 3px solid black;
border-radius: 5px;
padding: 10px;
}